<header class="z-10 h-dvh w-full flex items-center justify-center flex-col gap-1 pb-16 ">
    <h1
        class="font-agbalumo text-10xl color-verde-m text-shadow-(--my-text-shadow) p-0 m-0"
    >
        Mocozin
    </h1>
    <p class="font-playpen font-bold text-2xl text-white text-shadow-(--my-text-shadow) mb-10 max-sm:text-xl max-sm:mb-5">¡No dejes que te limpien!</p>
    <a class="inline-block border text-xl shadow-xl/30 font-playpen font-medium p-3 pl-5 pr-5 bg-yellow-300 rounded-2xl transition hover:scale-105 active:scale-95 max-sm:text-sm max_sm:p-2" href="https://chalox.itch.io/mocozin" target="_blank" rel="noreferrer">Descargar</a>
    <img
        src="/mocozingif.gif"
        alt="personaje animado de Mocozin"
        class="object-cover w-60 h-60 max-md:w-40 max-md:h-40"
    />
</header>
